@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>About Supermarket</h3>

<address>
    FPT University HCM<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:khoibmse140038@fpt.edu.vn">Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:khoibmse140038@fpt.edu.vn">Email</a>
</address>